<div class="home__container">
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 99,99"
    gameType="Digital PS4"
  ></app-card>
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Free"
    gamePrice="R$ 199,99"
    gameType="Digital PS5"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="50% off"
    gamePrice="R$ 59,99"
    gameType="Digital PS4"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="NEW"
    gamePrice="R$ 369,99"
    gameType="Digital PS5"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Free"
    gamePrice="R$ 00,00"
    gameType="Digital PS3"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="10% off"
    gamePrice="R$ 79,99"
    gameType="Digital PS4"
  ></app-card>
</div>
<p>home works!</p>
